/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* font face imports */
 @font-face {
  font-family: 'NovaBold';
  src: url('ProximaNova-Bold.ttf');
}

@font-face {
  font-family: 'NovaLight';
  src:
    url('ProximaNovaA-Light.woff2'),
    url('ProximaNovaA-Light.woff'),
    url('ProximaNovaA-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KittenSwash';
  src:     
  url('KittenSwash.woff2'),
  url('KittenSwash.woff'),
  url('KittenSwash.ttf');
}

/* default configuration */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  width: 100%;
  height: 100vh;
}

/* splash view*/
.content_splash {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_splash div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content_splash nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.content_splash nav button {
  font-family: 'NovaLight';
  border: none;
  padding: 1rem;
  border-radius: 3px;
}

.content_splash nav .log_in {
  background-color: #3778c2;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
}

.content_splash nav .sign_up {
  background-color: inherit;
  width: 100%;
  color: #434b54;
  font-size: 1.5em;
 
}

.content_splash h1 {
  font-family: 'KittenSwash';
  color: #434b54;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
}

/* Log in  and sign up views */

/* main_color: #3778c2 */
/* secondary_color: #5fb523 */
/* text_color: #434b54 */
/* primary-color = #3778c2;
secondary-color: #5fb523;
text-color: #434b54; */
.content_login {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content_login nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3778c2;
  color: #fff;
  padding: 0.5rem;
  font-family: 'NovaLight';
}

.content_login nav a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.5em;
  padding-right: 2rem;
}

.content_login nav input[type="submit"] {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1.2em;
}

.content_login div {
  display: flex;
  flex-direction: column;
}

.content_login div input {
  border: none;
  padding: 1rem;
  font-family: 'NovaLight';
  font-size: 1.2em;
  background-color: #fff;
}

.content_login .shared_link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: 'NovaLight';
  font-size: 1.2em;
}

.content_login .shared_link a {
  color: #434b54;
  text-decoration: none;
}
