/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";

 /* font face imports */
 @font-face {
  font-family: 'NovaBold';
  src: url('ProximaNova-Bold.ttf');
}

@font-face {
  font-family: 'NovaLight';
  src:
    url('ProximaNovaA-Light.woff2'),
    url('ProximaNovaA-Light.woff'),
    url('ProximaNovaA-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KittenSwash';
  src:     
  url('KittenSwash.woff2'),
  url('KittenSwash.woff'),
  url('KittenSwash.ttf');
}

/* default configuration */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f7f7f8;
}

.content {
  width: 100%;
  height: 100vh;
}

/* splash view*/
.content_splash,
.container_home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_splash div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content_splash nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.content_splash nav button,
.reset_button {
  font-family: 'NovaLight';
  border: none;
  padding: 1rem;
  border-radius: 3px;
}

.log_in {
  background-color: #3778c2;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
}

.content_splash nav .sign_up {
  background-color: inherit;
  width: 100%;
  color: #434b54;
  font-size: 1.5em;
 
}

.content_splash h1 {
  font-family: 'KittenSwash';
  color: #434b54;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
}

/* Log in  and sign up views */
.content_login,
.content_signup {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content_login nav,
.content_signup nav,
.container_home nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3778c2;
  color: #fff;
  padding: 0.5rem;
  font-family: 'NovaLight';
}

.content_login nav a,
.content_signup nav a,
.container_home nav a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.5em;

}

.content_login nav input[type="submit"],
.content_signup nav input[type="submit"] {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1.5em;
}

.content_login div,
.content_signup div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.content_login div input,
.content_signup div input {
  border: none;
  padding: 1rem;
  font-family: 'NovaLight';
  font-size: 1.2em;
  background-color: #fff;
}

.content_login .shared_link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'NovaLight';
  font-size: 1.2em;
}

.content_login .shared_link a {
  color: #434b54;
  text-decoration: none;
}

.content_login select {
  width: 100%;
  font-family: 'NovaLight';
  font-size: 1.5em;

}

/* home/ transaction view*/

.container_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.group_display {
  margin: 1rem;
  overflow-y: scroll;
  max-height: 75vh;
}

.group_element {
  display: flex;
  padding: 1rem;
 margin-bottom: 1rem;
 background-color: #fff;
}

.group_element i {
  margin-right: 1rem;
}

.group_element div {
  display: flex;
  flex: 1;
  font-family: 'NovaLight';
  font-size: 1.5em;
  justify-content: space-between;

}

.group_element div p {
  color: #434b54;
}

.group_element div span {
  color: #15171a;
  white-space: nowrap;
}

.add_button {
  width: 100%;
  background-color: #5fb523;
  padding: 1rem;
}

.add_button button {
  border: 1px solid white;
  border-radius: 3px;
background-color: inherit;
  color: #fff;
  font-family: 'NovaLight';
  font-size: 1.5em;
  padding: 1rem;
  width: 100%;
}

.total_amount {
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  color: #1b1e22;
  font-family: 'NovaBold';
}